.spinner-img {
  width: 200px;  /* Adjust the size of the spinner */
  height: 200px; /* Adjust the size of the spinner */
  margin: 0 auto; /* Center the spinner horizontally */
  display: block; /* Ensures the image behaves like a block element */
  margin-top: 3rem;
}
/* Styles for the active link */
.active-link {
background-color: #007bff;  /* Blue background */
color: white;  /* White text */
font-weight: bold;  /* Bold text */
border-radius: 5px;  /* Optional: Rounded corners */
}



.containert{
  margin-top: 4rem;
  /* margin-bottom: 2rem; */
}


/* Dark mode card styles */
body.bg-dark .card {
  background-color: #333;
  color: #fff;
}

body.bg-dark .btn-dark {
  background-color: #6c757d;
  border-color: #6c757d;
}

/* Optional: Adjust the text color of the card title and text in dark mode */
body.bg-dark .card-title, 
body.bg-dark .card-text {
  color: #fff;
}
